body{
  background-color: #f39c12;
}
#select{
  font-weight: bold;
  font-style: italic;
}
li p:hover{
  color: #ffb400;
}
/*modificar el formaulario*/
.formulario{
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.formulario div{
  margin-top: 7.5px;
}
.formulario button{
  margin-bottom: 20px;
}
.formulario div h1{
  font-weight:normal;
  font-style:normal;
}
/*modificar las fotos del carousel*/
.img_carousel{
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 300px;
  opacity: 0.4;
}
.carousel_text{
  font-style: arial;
  color: white;
  border-radius: 50px;
  opacity: 1;
  font-weight: bolder;
}
.carousel_text h5{
  font-size: 150%;
}
.carousel_text p{
  font-size: 115%;
}
.rocars :hover{
  background-color: black;
  border-radius: 1000px;
}
.main h1{
  margin-top: 50px;
  font-style: arial;
  letter-spacing: 3px;
  font-weight: 1000;
}

.main p{
  margin-top: 50px;
  font-size: 150%;
}
.fotorocar{
  background-color: white;
  margin-right: 1%;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
}
.vermas button{
  font-weight: 500;
  font-size: 120%;
  border-radius: 50rem;
  background-color: #c0392b;
  color: white;
  box-shadow: 0px 0px 5px 1px black;
}

/*timeline*/

.title_timeline {
  margin-top: 50px;
  margin-bottom: 60px;
}
.title_timeline p {
	color: #2c3e50;
  font-size: 150%;
  font-weight: 500;
}
.title_timeline h4 {
	text-transform: capitalize;
	font-size: 250%;
	margin-bottom: 15px;
	font-weight: 800;
}
.timeline_espacio div{
  margin-bottom: 20px;
}
.borde1{border-right: solid;
border-color: #8e44ad;}

.timeline_image{
  border-radius: 1rem;
}
.aqui{
  width: 6rem;
}
.contenido_timeline span{
  color: #ecf0f1;
  font-weight: 700;
  font-size: 150%:
}
.contenido_timeline h4{
  text-transform: capitalize;
  font-size: 150%;
  font-weight: 800;

}
.contenido_timeline p{
  font-size: 110%;
  font-family: 'Roboto', sans-serif;
  color: #2c3e50;
}

/*modificar quienes somos*/
#espacio{
  margin-top: 2%;
}
.texto p{
  font-size: 130%;
  font-family: 'Roboto', sans-serif;
}
.texto h1{
  font-weight: 900;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}
.texto h3{
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
}
.texto h2{
  text-decoration: underline;
  font-weight: 700;
}
.texto a{
  color: black;
}
/*galería*/
.gal h1{
  text-transform: capitalize;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900 !important;
}
.gal p{
  font-size: 130%;
  font-family: 'Roboto', sans-serif;
}

/*separo cada elemento de la galería */
.galeria div{
margin-top: 10px;
}
.fondo_gal{
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.texto_gal{
  background-color: rgba(44, 62, 80,0.8);
  color: white;
  text-align: center;
}
.galeria h1:hover {
  color: #f1c40f;
}
.galeria h3:hover {
  color: #f1c40f;
}
/*cookies*/
.cookies{
display:none;
background-color: white;
padding: 20px;
width: 80%;
max-width: 500px;
border-radius: 10px;
position: fixed;
bottom:20px;
left: 20px;
box-shadow: 0px 2px 20px 10px rgba(222,222,222,0.25)
}
.cookies p{
  font-size: 130%;
  font-family: 'Roboto', sans-serif;
}
.cookies.activo{
  display: block;
}
